.movie-div {
  display: flex;
  width: 90%;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 6rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: lightgray;
  border: 1px solid black;
}

.movie-details {
  flex-direction: column;
  width: 70%;
}

.movie-img-div {
  width: 10%;
  margin-right: 4rem;
}

.movie-img {
  width: 100%;
  height: auto;
}